[submodule "3rdparty/fmt"]
	path = deps/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "3rdparty/stb"]
	path = deps/stb
	url = git@github.com:nothings/stb.git
[submodule "deps/ggml"]
	path = deps/ggml
	url = git@github.com:ggml-org/ggml.git
